@media (max-width: 1699px) {
    .her-logo {
        width: 400px;
        max-width: 100%;
    }
    .hero-right-content {
        margin-right: -1%;
    }
    .hero-cont1 .single-cont .txt-c h3 {
        font-size: 25px;
    }
    .hero-cont1 .single-cont .txt-c h4 {
        font-size: 12px;
    }
    .hero-cont1 .single-cont::after {
        height: 170px;
        width: 160px;
    }
    .hero-cont1 .single-cont {
        margin-right: 60px;
    }
    .hero-cont1 {
        margin-top: 50px;
    }
    .hero-scroll-down {
        margin: 20px 0 0;
        font-size: 12px;
        position: relative;
        z-index: 5;
    }
    .hero-section {
        height: 670px;
        padding: 0px 0 0;
    }
    .hero-section-inner {
        padding: 0 0 80px;
    }
    .download-button {
        width: 140px;
    }
}

@media (max-width: 1399px) {


}


@media (max-width: 1199px) {

    .header-section-inner {
        height: 70px;
        background: transparent;
        padding: 16px 0;
    }


    .h-download-row {
        flex-direction: column;
        align-items: center;
    }
    .h-download-row .options {
        margin: 18px 0 0 0px;
    }


    .hero-left-content {
        display: none;
    }
    .hero-right-content {
        margin: 0 auto;
        width: 100%;
    }
    .hero-section-inner {
        padding: 160px 0 0px;
    }

    .main-section {
        margin-top: 0;
        padding-top: 35px;
    }
    .main-section-inner {
        flex-wrap: wrap;
    }
    .main-m-part {
        width: 100%;
        order: -1;
    }
    .main-sidebar {
        width: calc(50% - 11px);
    }
}


@media (max-width: 991px) {


    .prefoot-section {
        padding: 30px 0 25px;
    }
    .pre-foot-menu > ul {
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
    .pre-foot-menu > ul > li {
        margin: 0 10px 0 0px;
        padding: 5px 10px;
    }
    .footer-section-inner {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .copy-right {
        margin: 10px 0 0;
        order: 2;
    }

    .footer-right {
        flex-direction: column;
        align-items: center;
    }
    .footer-section .design-by::after {
        display: none;
    }
    .footer-section .design-by {
        padding-left: 0;
        margin-left: 0;
        flex-direction: column;
        align-items: center;
    }
    .footer-section .design-by .tuora {
        margin: 12px 0px 10px;
    }

    .footer-tura-logo p {
        display: none;
    }
    .footer-logo {
        margin: 0 0 20px;
    }
}


@media (max-width: 768px) {
    .main-sidebar {
        width: 100%;
    }


    .news-header {
        flex-direction: column;
    }
    .news-header h3 {
        font-size: 16px;
        margin: 0 0 15px;
    }


    .hero-section {
        height: 570px;
    }
}


@media (max-width: 575px) {


    .video-card .play-button {
        font-size: 30px;
        top: 35%;
    }
    .video-card .video-title {
        padding: 10px 13px;
    }
    .video-slider .owl-nav {
        top: 12px;
        right: 15px;
    }
    .video-slider .owl-dots {
        bottom: 11px;
        right: 10px;
    }

    .news-card .title {
        padding: 16px 12px;
        flex-direction: column;
    }
    .news-card .title h3 {
        margin: 0px 0 8px;
    }


}


@media (max-width: 390px) {
    
    .news-nav > ul > li {
        margin-right: 15px;
    }
    .news-header h3 {
        margin: 0 0 10px;
    }
    .news-section {
        padding: 30px 12px;
    }


    .form-box {
        padding: 25px 30px;
    }
    .box-comm-title {
        padding: 20px 20px;
    }
    .plr-table {
        --sd-space: 12px;
    }
}
