/*-----------------------------------=========Main-Style-Sheet=========----------------------------------------*/

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');
@font-face {
  font-family: 'Trajan Pro';
  src: url('webfonts/TrajanPro-Bold.woff') format('woff'),
      url('webfonts/TrajanPro-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Trajan Pro';
  src: url('webfonts/TrajanPro-Regular.woff') format('woff'),
      url('webfonts/TrajanPro-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Myriad Pro';
  src: url('webfonts/MyriadPro-Bold.woff2') format('woff2'),
      url('webfonts/MyriadPro-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Myriad Pro';
  src: url('webfonts/MyriadPro-BoldCond.woff2') format('woff2'),
      url('webfonts/MyriadPro-BoldCond.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Myriad Pro';
  src: url('webfonts/MyriadPro-Cond.woff2') format('woff2'),
      url('webfonts/MyriadPro-Cond.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Myriad Pro';
  src: url('webfonts/MyriadPro-Light.woff2') format('woff2'),
      url('webfonts/MyriadPro-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Myriad Pro';
  src: url('webfonts/MyriadPro-Regular.woff2') format('woff2'),
      url('webfonts/MyriadPro-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Myriad Pro';
  src: url('webfonts/MyriadPro-Semibold.woff2') format('woff2'),
      url('webfonts/MyriadPro-Semibold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}




:root {
  --theme__color1: #fac89b;
  --theme__color2: #db596f;
  --open-sans: 'Open Sans', sans-serif;
  --trajan-pro: 'Trajan Pro';
  --myriad-pro: 'Myriad Pro';
}
*,::before,::after {
  box-sizing: border-box;
}
body {
  font-size: 16px;
  line-height: 1.2;
  background-color: #190404;
  color: #fff;
  overflow-x: hidden;
  word-wrap: break-word;
  word-break: normal;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  font-family: var(--open-sans);
}
a, a:active, a:focus, a:active, a:hover {
  text-decoration:none !important;
  color: inherit;
}
input{
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
a:hover,
a:focus,
input:focus,
input:hover,
select:focus,
select:hover,
select:active,
textarea:focus,
textarea:hover,
button:focus {
  outline: none;
}
::placeholder {
  opacity: 1;
}
:focus::placeholder {
  opacity: 0;
}
table {
  border-collapse: separate;
  border-spacing: 0;
  table-layout: fixed; /* Prevents HTML tables from becoming too wide */
  width: 100%;
}
img {
  -ms-interpolation-mode: bicubic;
  border: 0;
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}
iframe {
  width: 100%;
}
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6{
  font-weight: 700;
}
ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
p{
  margin-bottom: 15px;
}
p:last-child{
  margin: 0;
}
.main-wrap {
  width: 100%;
  overflow: hidden;
}
@media (max-width: 1799px) and (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
@media (min-width: 1600px) {
  .container {
    max-width: 1287px;
  }
}


/* header */
.header-section {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
}
.header-in {
  position: relative;
  z-index: 1;
}
.header-section-inner {
  padding: 9px 10px;
  width: 989px;
  height: 59px;
  margin: 0 auto;
  display: flex;
  align-items: flex-start;
  background: url('images/header-bg.png') no-repeat center center/contain;
  justify-content: space-between;
  position: relative;
  max-width: 100%;
}

.header-logo  {
  margin: 15px 0 0;
  display: inline-block;
}
.header-logo  img {

}

.main-menu {
  
} 
.main-menu > ul {
  display: flex;
}
.main-menu > ul > li {

}
.main-menu > ul > li:last-child {

}
.main-menu > ul > li > a {
	font-size: 13px;
	padding: 0 27px;
	font-weight: 400;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	color: #d3c8b9;
  transition: 0.3s;
}
.main-menu > ul > li > a:hover,
.main-menu > ul > li > a.active {
  color: var(--theme__color1);
}
.main-menu > ul > li > a::after {
  content: '';
  position: absolute;
  top: 50%;
  right: 0%;
  transform: translate(0,-50%);
  height: 20px;
  width: 2px;
  background: #3F2429;
  display: flex;
  border-right: 1px solid #2B1219;
}
.main-menu > ul > li:last-child > a::after {
  display: none;
}
.main-menu > ul > li > a .fa-chevron-down {
  font-size: 9px;
  margin: 0 0 0 11px;
}

.header-language {
	position: absolute;
	bottom: 10px;
	right: 20px;
}
.h-lan-dropdown {
  flex-shrink: 0;
  font-size: 13px;
  border-radius: 30px;
}
.h-lan-dropdown .toggler {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
}
.h-lan-dropdown .toggler .icon {
  border: 1px solid rgba(255, 255, 255, 0.205);
  border-radius: 50%;
  height: 18px;
  width: 18px;
  display: flex;
  padding: 2px;
}
.h-lan-dropdown .toggler .icon img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}
.h-lan-dropdown .toggler i {
  margin: 0  0px 0 6px;
  font-size: 10px;
  color: rgba(248, 248, 248, 0.774);
  transition: 0.3s;
}
.h-lan-dropdown .toggler.show i {
  transform: rotate(180deg);
}
.h-lan-dropdown .dropdown-menu {
  width: 100%;
  min-width: 50px !important;
  background: #000;
  color: #fff;
  text-align: center;
}
.h-lan-dropdown .dropdown-menu ul {

}
.h-lan-dropdown .dropdown-menu ul li {

}
.h-lan-dropdown .dropdown-menu ul li a {
  font-size: 13px;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.h-lan-dropdown .dropdown-menu ul li a:hover {

}


/* header-end */




/* ---offcanvas-css--- */
.offcanvas-open {
  font-size: 22px;
  transition: 0.3s;
}
.offcanvas-open:hover {
  color: var(--theme__color1);
}
.offcanvas-close {
  color: #fff;
  position: absolute;
  transition: 0.3s;
  right: 15px;
  top: 15px;
  line-height: 1;
  font-size: 22px;
}
.offcanvas-close:hover {
  color: var(--theme__color1);
}
.offcanvas-menu {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
  transform: translateX(-105%);
  transition: 0.3s;
}
.offcanvas-menu.active {
  transform: translate(0);
}
.offcanvas-menu .offmenu {
  max-width: 250px;
  min-width: 200px;
  z-index: 5;
  position: relative;
  background: #000;
  height: 100%;
  padding: 50px 20px 40px;
  overflow: auto;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
.offcanvas-menu .offmenu :-webkit-scrollbar {
  display: none;
}
.mobile-menu > li > a {
  display: flex;
  align-items: center;
  font-size: 13px;
  color: #fff;
  padding: 7px;
  transition: 0.3s;
}
.mobile-menu > li > a:hover {
  color: var(--theme__color1);
}
.mobile-menu > li > a > .active-ind {
  opacity: 0;
}
.mobile-menu > li > a.active > .active-ind {
  opacity: 1;
}
.dropdown-menu-custom ul {
  background: #fff;
  padding: 20px 0;
}
.dropdown-menu-custom ul li a {
  color: #97A3AE;
}
.offcanvas-overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.178);
  z-index: 2;
  transform: 0;
  z-index: 900;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
}
.offcanvas-overlay.active {
  opacity: 1;
  visibility: visible;
}
/* ---offcanvas-css-end---*/

/* --preloader-- */
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  overflow: hidden;
  background: #000;
}
#preloader:before {
  content: "";
  position: fixed;
  top: calc(50% - 30px);
  left: calc(50% - 30px);
  border: 6px solid var(--theme__color1);
  border-top-color: #e2eefd4f;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  -webkit-animation: animate-preloader 1s linear infinite;
  animation: animate-preloader 1s linear infinite;
}
@-webkit-keyframes animate-preloader {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
}
@keyframes animate-preloader {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
}
/* --preloader-end-- */



/* ---hero-section--- */
.hero-section {
  height: 840px;
  padding: 20px 0 0;
  background: url('images/hero-bg.png') no-repeat center center/cover;
  flex-direction: column;
  display: flex;
  flex-grow: 1;
}
.hero-section .container {
  flex-direction: column;
  display: flex;
  flex-grow: 1;
}
.hero-section-inner {
  padding: 0 0 150px;
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
}


.hero-left-content {

}
.h-download-row {
  display: flex;
  align-items: center;
}
.download-button {
  width: 173px;
  display: inline-block;
  transition: 0.3s;
}
.download-button:hover {
  opacity: 0.9;
}
.h-download-row .options {
  margin: 0 0 0 20px;
  display: flex;
}
.h-download-row .options .single {
  padding: 0 18px;
  border-right: 1px solid #523237;
  display: flex;
  transition: 0.3s;
}
.h-download-row .options .single:last-child {
  border-right: 0;
}
.h-download-row .options .single:hover {
  opacity: 0.7;
}


.hero-right-content {
  margin-right: -9%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.her-logo {
  width: 495px;
  display: inline-block;
}
.her-logo__inner {

}
.her-logo img {
	margin: -20.3% 0% -32.6% -6%;
	max-width: initial;
	width: 118.5%;
}

.hero-cont1 {
	margin-top: 80px;
	display: flex;
}
.hero-cont1 .single-cont {
  margin-right: 107px;
  display: flex;
  align-items: center;
  position: relative;
  z-index: 1;
}
.hero-cont1 .single-cont::after {
	position: absolute;
	z-index: -1;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	content: '';
	height: 220px;
	width: 210px;
	background: url('images/hero-cont1-sinlge-bg.png') no-repeat center center/contain;
}

.hero-cont1 .single-cont:last-child {
  margin-right: 0;
}
.hero-cont1 .single-cont .txt-c {
  text-align: center;
}
.hero-cont1 .single-cont .txt-c h3 {
  font-size: 36px;
  margin: 0 0 0px;
  font-weight: 700;
  font-family: var(--trajan-pro);
  color: #ebc7b5;
} 
.hero-cont1 .single-cont .txt-c h4 {
  font-size: 14px;
  font-weight: 400;
  margin: 0 0 3px;
  color: #fef5ea;
}
.hero-cont1 .single-cont .txt-c h4 .dc {
  color: var(--theme__color1);
}


.hero-scroll-down {
  margin: 35px 0 0;
  font-size: 12px;
  position: relative;
  z-index: 5;
}
.hero-scroll-down img {
  margin: 0 9px 0 0;
}
/* ---hero-section---end */



/* ---section-wrapper1--- */
.section-wrapper1 {
  background: url('images/big-bg.png') no-repeat center center/cover;
  position: relative;
  z-index: 10;
}
.section-wrapper1-inner {

}
.sw-big-line {
  margin: -2px auto 0;
  display: block;
}
/* ---section-wrapper1---end */


/* ---main-section--- */
.main-section {

  margin-top: -83px;
}
* {
  scroll-margin: 100px;
}
.main-section-inner {
  display: flex;
  justify-content: space-between;
}
.main-sidebar {
	width: 23.05%;
}
.main-m-part {
	width: 46.1%;
}


.comm-box {
  margin: 0 0 20px;
}
.box-comm-title {
  width: 189px;
  height: 85px;
  padding: 11px 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: url('images/com-sm-heading.png') no-repeat center center/contain;
  text-align: center;
  margin: 0 auto -37px;
  position: relative;
  z-index: 2;
}
.box-comm-title h3 {
  font-size: 12px;
  margin: 0;
  font-family: var(--trajan-pro);
  color: #291a15;
}
.comm-box-main {
	padding-top: 32px;
	background: url('images/box-bg.png') no-repeat center center/cover;
	background-color: #220B0B;
	position: relative;
	z-index: 1;
}
.s-box .comm-box-main {
  background: url('images/s-box-bg-shape.png') no-repeat center center/100% 100%,url('images/box-bg.png') no-repeat center center/cover;
}
.t-box .comm-box-main {
  background: url('images/t-box-bg-shape.png') no-repeat center center/100% 100%,url('images/box-bg.png') no-repeat center center/cover;
}
.comm-box-ct-shape {
  position: absolute;
  z-index: -1;
  max-width: initial;
}
.comm-box-tr-shape {
	--over-width: 7%;
	width: calc(100% + var(--over-width));
	top: -10px;
	left: calc(var(--over-width) * -0.5);
}
.comm-box-bl-shape {
	--over-width: 6%;
	width: calc(100% + var(--over-width));
	bottom: -10px;
	left: calc(var(--over-width) * -0.5);
}
.comm-box-top-shadow {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}


.form-box {
	padding: 10px 34px 31px;
}
.form-box h3 {
  font-size: 11px;
  margin: 0 0 20px;
  color: #fad0d0;
  text-align: center;
  font-family: var(--open-sans);
}
.single-input-x {
  margin: 0 0 16px;
  width: 100%;
}
.input-x-outer {
  position: relative;
  z-index: 1;
  width: 100%;
}
.input-x-outer::after {
	content: '';
	height: calc(100% - -3px);
	width: calc(100% - -10px);
	position: absolute;
	top: calc(50% - 1px);
	left: 50%;
	transform: translate(-50%,-50%);
	background: url('images/input-border.png') no-repeat center center/100% 100%;
	pointer-events: none;
	z-index: -1;
}
.input-x-outer .f-icon {
  font-size: 10px;
  position: absolute;
  top: 50%;
  left: 14px;
  transform: translate(0,-50%);
  color: #674848;
}
.input-x-outer .f-icon ~ .input-x {
  padding-left: 35px !important;
}
.input-x {
  padding: 9px 15px;
  font-size: 11px;
  color: #fbd1d1;
  background: transparent;
  border: 1px solid transparent;
  width: 100%;
}
.single-input-x .fld {
  font-size: 12px;
  padding: 10px 0;
  color: #c58c8c;
  background: #1A0B0B;
  text-align: center;
  display: block;
  border-bottom: 1px solid #7B4747;
}
.single-input-x .check-label {
  font-size: 12px;
  color: #fad0d0;
  display: flex;
  align-items: flex-start;
}
.single-input-x .check-label .checkbox {
  margin: 0 8px 0 0;
}


.plr-table {
	--sd-space: 30px;
	padding: 2px 0 10px;
}
.plr-table .table-title {
  padding: 0px 0 5px;
}
.plr-table .table-title h4 {
  font-size: 11px;
  font-weight: 400;
  color: #e67070;
  text-align: center;
}
.plr-table table {

}
.plr-table table td {
	padding: 8.3px;
	font-size: 12px;
  color: #d9c1a5;
}
.plr-table table tbody tr {
  position: relative;
  z-index: 1;
}
.plr-table table tbody tr::after {
  content: '';
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  background: url('images/tr-bg.png') no-repeat center center/100% 100%;
  display: block;
  position: absolute;
  opacity: 0;
  transition: 0.3s;
}
.plr-table table tbody tr:hover::after {
  opacity: 1;
}

.plr-table table td:first-child {
  padding-left: var(--sd-space);
}
.plr-table table td:last-child {
  padding-right: var(--sd-space);
}
.plr-table table thead td {
  font-size: 10px !important;
  color: #715f60;
}
.plr-table .plr-pos {
  display: flex;
  align-items: center;
  justify-content: center;
}
.plr-table .plr-pos img {

}
.td-class-b {
  color: #50a8da;
}
.td-class-y {
  color: #eab679;
}
.td-class-r {
  color: #be5c5c;
}
.td-level {

}
.td-level .lv {
  color: #837772;
  font-size: 11px;
}

.table-str1 table {
  table-layout: unset;
}
.table-str1 td {

}
.table-str1 td:nth-child(1) {
	text-align: center;
	width: 40px;
	padding-right: 0px;
}
.table-str1 td:nth-child(2) {
  width: 30%;
}
.table-str1 td:nth-child(3) {
  width: 30%;
  font-size: 11px;
}
.table-str1 td:nth-child(4) {

}


.user-statics {
	padding: 8px 5px 30px;
}
.user-statics h3 {
  font-size: 11px;
  margin: 0 0 18px;
  color: #fad0d0;
  text-align: center;
  font-family: var(--open-sans);
}
.user-statics-wrap {

}
.user-statics-wrap .single-row {
  background: url('images/tr-bg.png') no-repeat center center/100% 100%;
  justify-content: space-between;
  display: flex;
  padding: 7px 0;
  border-bottom: 2px solid #312018;
}
.user-statics-wrap .single-row .column {
  font-size: 12px;
  color: #d9c1a5;
}
.user-statics-wrap .single-row .column:first-child {
  padding-left: 43px;
}
.user-statics-wrap .single-row .column:last-child {
  padding-right: 35px;
}
.user-statics-wrap .single-row .column .lt-m {
  color: #dfd8cf;
}
.user-st-bottom {
  margin: 24px 30px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.reload-s-button {
  font-size: 11px;
  font-weight: 400;
  color: #ad9a9a;
  border-radius: 3px;
}
.reload-s-button .bright {
  color: #e4d2d3;
}
.reload-s-button i {
  margin: 0 4px 0 0;
}


.video-slider {
  margin-bottom: 20px;
}
.video-slide {

}
.video-slider .owl-nav {
  width: 41px;
  top: 19px;
  right: 31px;
  position:absolute;
}
.video-slider .owl-dots {
  bottom: 17px;
  right: 24px;
  position: absolute;
  width: max-content;
}



.slider-arrow1 .owl-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.slider-arrow1 .owl-nav button {
  font-size: 8px !important;
  height: 20px;
  width: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #5C2225 !important;
  color: #fff !important;
}
.slider-dots1 .owl-dots {
  display: flex;
  align-items: center;
  justify-content: center;
}
.slider-dots1 .owl-dots .owl-dot {
  margin: 3px;
  height: 6px;
  width: 6px;
  border-radius: 50%;
  opacity: 0.5;
  background: #DAAAAA !important;
}
.slider-dots1 .owl-dots .owl-dot.active {
  opacity: 1;
}



.video-card {
  position: relative;
  z-index: 1;
}
.Image {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1920px;
  height: 1845px;
  z-index: 308;
}

.video-card-inner {
	padding-top: 49%;
}
.video-card .video-title {
  padding: 11px 30px;
  position: absolute;
  bottom: 12px;
  left: 0;
  width: 100%;
  transition: 0.3s;
}
.video-card .video-title h3 {
  font-size: 15px;
  margin: 0 0 8px;
}
.video-card .video-title p {
  font-size: 13px;
  color: #ffe3c3;
  margin: 0 0 3px;
}
.video-card .play-button {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 50%;
  color: #fff;
  font-size: 49px;
  position: absolute;
  top: 43%;
  left: 50%;
  transform: translate(-50%,-50%);
  transition: 0.3s;
}
.video-card:hover .play-button {
  color: var(--theme__color1);
}


/* ---main-section---enc */


/* ---news-section--- */
.news-section {
  padding: 30px;
  background: url('images/box-bg.png') no-repeat center center/cover;
  background-color: rgba(0, 0, 0, 0);
  background-color: rgb(31,12,12);
  position: relative;
  z-index: 1;
  border-bottom: 1px solid #F2B38E;
}
.news-section.expand-now {
  padding-bottom: 50px !important;
}
.news-fade {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  pointer-events: none;
  transition: 0.3s;
}
.news-section.expand-now .news-fade {
  opacity: 0;
}
.news-section-inner {

}
.news-header {
  padding: 4px 0 25px;
  margin: 0 0 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
.news-header::after {
  content: '';
  width: 100%;
  height: 2px;
  position: absolute;
  bottom: 0;
  left: 0;
  background: url('images/separate.png') no-repeat center center/100% 100%;
}
.news-header h3 {
  font-size: 16px;
  margin: 0;
  font-family: var(--trajan-pro);
}
.news-nav {

}
.news-nav > ul {
  display: flex;
  flex-wrap: wrap;
}
.news-nav > ul > li {
  margin-right: 30px;
}
.news-nav > ul > li:last-child {
  margin-right: 0;
}
.news-nav > ul > li > a {
  font-size: 12px;
  color: #ffd4a5;
  transition: 0.3s;
}
.news-nav > ul > li > a:hover,
.news-nav > ul > li > a.active {
  color: #fff;
}

.news-card-wrapper {
  position: relative;
}
.news-card {
  margin: 0 0 20px;
}
.news-card .title {

  margin: 0 0 23px;
  padding: 16px 22px;
  background: url('images/news-card-title-bg.png') no-repeat center center/100% 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.news-card .title h3 {
  font-size: 13px;
  font-weight: 400;
  margin: 0;
}
.news-card .title .right {
  font-size: 11px;
}
.news-card .title .right .color-theme1 {
  color: #d1b8a1 !important;
}
.news-card .content {
  font-size: 12px;
  color: #f5c8c8;
  line-height: 1.45;
  text-align: justify;
}
.news-card .content p {

}
.news-card .content .thumb-img {
  height: 80px;
  width: 94px;
  margin: 0 15px 1px 0;
  float: left;
}
.news-card .content .thumb-img img {

}
.news-card .color-pink {
  color: #b95ed3;
}
.news-card .color-yellow {
  color: #e9cd9b;
}
.news-section .pagination {
  position: absolute;
  bottom: 21px;
  left: 50%;
  transform: translate(-50%,0);
  z-index: 10;
}


.pagination {

}
.pagination ul {
  display: flex;
  align-items: flex-start;
}
.pagination ul li {
  margin: 4px;
}
.pagination ul li a {
  font-size: 11px;
  height: 18px;
  width: 18px;
  font-weight: 400;
  background: #41201C;
  transition: 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding-bottom: 1px;
}
.pagination ul li a:hover,
.pagination ul li a.active {
  height: 20px;
  background: #582E2B;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.137);
  border-bottom: 2px solid #826150;
}


/* ---news-section---end */



/* ---prefoot-section--- */
.prefoot-section {
	padding: 62px 0 60px;
}
.prefoot-section-inner {

}

.pre-foot-menu {
  padding: 0 6%;
}
.pre-foot-menu > ul {
  display: flex;
}
.pre-foot-menu > ul > li {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  position: relative;
}
.pre-foot-menu > ul > li::after {
  content: '';
  height: 11px;
  display: block;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(0,-50%);
  border-left: 1px solid #190505;
  border-right: 1px solid #3C1C1E;
  display: none;
}
.pre-foot-menu > ul > li:last-child {

}
.pre-foot-menu > ul > li:last-child::after {
  display: none;
}
.pre-foot-menu > ul > li > a {
  padding: 5px 0;
  font-size: 13px;
  font-weight: 400;
  color: #9f9290;
  position: relative;
  transition: 0.3s;
}
.pre-foot-menu > ul > li > a:hover {
  color: var(--theme__color1);
}
.pre-foot-menu > ul > li > a::after {
  content: '';
  width: 100%;
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  border-bottom: 1px solid var(--theme__color1);
  transform: scaleX(0);
  transition: 0.3s;
}
.pre-foot-menu > ul > li > a:hover::after {
  transform: scaleX(1);
}



.social-menu {
  display: flex;
}
.social-menu > li {
  margin-right: 20px;
}
.social-menu > li:last-child {
  margin-right: 0;
}
.social-menu > li > a {
  transition: 0.3s;
}
.social-menu > li > a:hover {
  opacity: 0.7;
}
/* ---prefoot-section---end */



/* ---footer-section--- */
.footer-section {
	/* border-top: 1px solid var(--theme__color1); */
	background: #170505;
  position: relative;
  z-index: 10;
}

.footer-section-inner {
  font-size: 12px;
	padding: 17px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.copy-right {
  margin: 0;
}
.footer-right {
  display: flex;
  align-items: center;
}
.footer-language {
  display: flex;
  align-items: center;
}
.footer-section .design-by {
  display: flex;
  align-items: center;
  position: relative;
}
.footer-section .design-by::after {
	content: '';
	height: 11px;
	display: block;
	position: absolute;
	top: 50%;
	left: 0;
	transform: translate(0,-50%);
	border-left: 1px solid #190505;
	border-right: 1px solid #3C1C1E;
  display: none;
}
.footer-section .design-by p {
  margin: 0;
}
.footer-section .design-by .tuora {
  width: 123px;
  margin: 0 5px 3px;
}

.footer-tura-logo p {
	margin: 0px 0 -17px !important;
}


.footer-logo {
  display: inline-flex;
}
/* ---footer-section---end */